@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Space Mono', Helvetica, sans-serif;
}

.title-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.title-container h1 {
  position: relative;
  font-family: 'Climate Crisis', sans-serif;
  font-size: clamp(2rem, 13vh, 15rem);
  line-height: 0.85;
  color: #ccff00;
  writing-mode: vertical-lr;
  transform: rotate(360deg);
  text-transform: uppercase;
}

.rotate-center {
  @apply origin-center;
}

@media (max-width: 768px) {
  .title-container {
    position: static;
    padding-top: 20px;
  }

  .title-container h1 {
    font-size: clamp(3rem, 6vw, 6rem);
    writing-mode: horizontal-tb;
    transform: none;
  }
}
